A list is a collection of different kinds of values or items. Since Python lists are mutable, we can change their elements after forming. The comma (,) and the square brackets [enclose the List's items] serve as separators

In [1]:
list =[1,2,3,3,'a']
print(list)

[1, 2, 3, 3, 'a']

# delete element from list

In [12]:
# list =[1,2,3,3,'a']
# del list[-1]    #usingdelete we can delete number from list using index
# print(list)


my_list = [1, 2, 3, 4, 5]
element_to_remove =int(input('enter the element which you want to delete ='))

new_list = []

for item in my_list:
    if item != element_to_remove:
        new_list.append(item)

my_list = new_list

print('retuned list after deleting',element_to_remove,'from list',my_list)
# Output: [1, 2, 4, 5]

enter the element which you want to delete =5
retuned list after deleting 5 from list [1, 2, 3, 4]

# delete element in list without function and show duplicated item list

In [42]:
my_list = [1, 2, 2, 3, 4, 4,0,4,5]

new_list = []
duplicate_list=[]

for item in my_list:
    if item not in new_list:
        new_list.append(item)
    else:
        duplicate_list.append(item)
        

my_list = new_list
print('duplicate element in list',duplicate_list)


print('removed duplicate and made unique',my_list)
# Output: [1, 2, 3, 4, 5]

# creating empty list and adding element and comparing between two list

duplicate element in list [2, 4, 4]
removed duplicate and made unique [1, 2, 3, 4, 0, 5]

# Matching element in list and not matching element list

In [43]:
list=[1,2,3,4]
list2=[1,2,3]
list3=[]
list4=[]

for item in list2:
    if item in list:
        list3.append(item)
print('matching element in both list',list3)


for item in list:
    if item not in list2:
        list4.append(item)
print('Not matching element list',list4)

matching element in both list [1, 2, 3]
Not matching element list [4]

# To find max and min

In [68]:
# list=[1,2,3,4,10,5,6,8,8]
# list.sort()
# print(list[-1])

my_list = [3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5]

maximum_value = max(my_list)
minimum_value = min(my_list)

print("Maximum value:", f"{maximum_value}")
print("Minimum value:", minimum_value)

Maximum value: 9
Minimum value: 1

# number of times element in list

In [64]:
my_list = [1, 2, 2, 3, 4, 4, 5]

# Create a dictionary to store the count of each element
element_counts = {}

# Iterate through the list
for item in my_list:
    # If the element is already in the dictionary, increment its count
    if item in element_counts:
        element_counts[item] += 1
    # If the element is not in the dictionary, add it with count 1
    else:
        element_counts[item] = 1

# Print the counts
for element, count in element_counts.items():
    print(f"{element}: {count} times")

1: 1 times
2: 2 times
3: 1 times
4: 2 times
5: 1 times

# roation of list

In [112]:
# list=[1, 2, 3, 4, 5]
# list2=list[-3:]  #start,stop,step
# list3=list[0:-3]
# print(list2)
# print(list3)


my_list = [1, 2, 3, 4, 5]
rotation_steps = 3

# Rotate the list to the right by k steps
n = len(my_list)
rotation_steps = rotation_steps % n  # Ensure k is within the range of the list length
# print(rotation_steps)

# Perform the rotation without using a function
my_list = my_list[-rotation_steps:] + my_list[:-rotation_steps]

print(my_list)

[3, 4, 5, 1, 2]

# multiplication of item in list

In [113]:
list=[3, 4, 5, 1, 2]
list2=[]
for item in list:
    list2.append(item*2)
print(list2)

[6, 8, 10, 2, 4]

# adding the element in list

In [114]:
#Declaring the empty list    
l =[]    
#Number of elements will be entered by the user      
n = int(input("Enter the number of elements in the list:"))    
# for loop to take the input    
for i in range(0,n):       
    # The input is taken from the user and added to the list as the item    
    l.append(input("Enter the item:"))       
print("printing the list items..")     
# traversal loop to print the list items      
for i in l:     
    print(i, end = "  ")

Enter the number of elements in the list:3
Enter the item:8
Enter the item:1
Enter the item:99
printing the list items..
8  1  99

# Comprehension of list

In [1]:
# fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
# newlist = []

# for x in fruits:
#   if "a" in x:
#     newlist.append(x)

# print(newlist)

fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]

print(newlist)

# newlist = [expression for item in iterable if condition == True]

['apple', 'banana', 'mango']

# sorted function keyword in list

In [25]:
my_list = ["apple", "banana", "cherry", "date"]
sorted_list_by_length = sorted(my_list, key=len,reverse=False)
print(sorted_list_by_length)
      
# sorted(list,)  
# sorted(iterable, key=None, reverse=False)

['date', 'apple', 'banana', 'cherry']

# Numbers of times number exist in list using dictionary

In [11]:
list=[1,1,2,2,3,3,3,3,1]
element_count={}

for item in list:
    if item in element_count:
        element_count[item]+=1
    else:
        element_count[item]=1
print(element_count)

# for i in element_count:
#     print(i,element_count[i])
    
for items in element_count:
    print(items,'number of times',element_count[items]) 
    
    
# Using items() to iterate through keys and values
for key, value in element_count.items():
    print(f"{key}: {value}")

{1: 3, 2: 2, 3: 4}
1 number of times 3
2 number of times 2
3 number of times 4
1: 3
2: 2
3: 4

# extend keyword

In [ ]:
# Example list
my_list = [1, 2, 3]

# Extend the list with elements from another list
my_list.extend([4, 5, 6])

print(my_list)
# Output: [1, 2, 3, 4, 5, 6]

# Tuple

In [ ]:
# List is a collection which is ordered and changeable. Allows duplicate members.
# Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
# Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
# Dictionary is a collection which is ordered** and changeable. No duplicate members.
# *Set items are unchangeable, but you can remove and/or add items whenever you like.

# **As of Python version 3.7, dictionaries are ordered. In Python 3.6 and earlier, dictionaries are unordered.

# it is more effiecent then list as it is memory friendly
# we can pack and unpack the tuple

# Any number of items, including those with various data types (dictionary, string, float, list, etc.),
# can be contained in a tuple.

In [53]:
a=('2','2')
print(a)
print(type(a))
print(a[0])

('2', '2')
<class 'tuple'>
2

# packing and unpacking in tuple

In [47]:
# Packing multiple values into a tuple
person = "John", 30, "Engineer",2
print(person)
# Output: ('John', 30, 'Engineer')

('John', 30, 'Engineer', 2)

In [48]:
# Unpacking values from a tuple
name, age, occupation,pistol = person
print(name)
# Output: John
print(age)
# Output: 30
print(occupation)
# Output: Engineer
print(pistol)

John
30
Engineer
2

In [52]:
dir(tuple)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

# Write a Python function to find the student with the highest score. The function should take the list of tuples as input and return the name of the student with the highest score.

In [54]:
students = [("Alice", 85), ("Bob", 92), ("Charlie", 78), ("David", 95), ("Eva", 88)]

In [4]:
def highest_score_student(student_scores):
    highest_score = float('-inf')  # Initialize with negative infinity
    highest_scorer = None

    for student, score in student_scores:
        if score > highest_score:
            highest_score = score
            highest_scorer = student

    return highest_scorer

# Example usage:
students = [("Alice", 85), ("Bob", 92), ("Charlie", 78), ("David", 95), ("Eva", 88)]
result = highest_score_student(students)
print(f"The student with the highest score is: {result}")

The student with the highest score is: David

In [5]:
name,mark=students
print(mark)
# this have error as we can not unpack multiple entry at once so we need to use loop which we using in next cell

ValueError: too many values to unpack (expected 2)

In [71]:
students = [("Alice", 85), ("Bob", 92), ("Charlie", 78), ("David", 95), ("Eva", 88)]

for name, score in students:
#     print(f"Student: {name}, Score: {score}")
    print(score)

85
92
78
95
88

# find max in tuple

In [74]:
my_tuple = (10, 5, 8, 15, 3)

max_value = float('-inf')  # Initialize with negative infinity because it will compare the first element with negative to make first maximum

for value in my_tuple:
    if value > max_value:
        max_value = value

print(f"The maximum value in the tuple is: {max_value}")

The maximum value in the tuple is: 15

# sorting a tuple in python

In [79]:
my_tuple = (3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5)

# Create a new sorted list from the tuple
sorted_list = sorted(my_tuple)

print("Original tuple:", my_tuple)
print("Sorted list using sorted():", sorted_list)
print(sorted_list[-1])

#reverse a list
print(sorted_list[::-1])

Original tuple: (3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5)
Sorted list using sorted(): [1, 1, 2, 3, 3, 4, 5, 5, 5, 6, 9]
9
[9, 6, 5, 5, 5, 4, 3, 3, 2, 1, 1]

# sets

In [87]:
# intaialization of set start with {}
my_set = {1, 2, 3, 4, 5}
print(my_set)

my_set.add(6)
print(my_set)

my_set.remove(3)
print(my_set)
# it unorderded but it contain only unique element

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6}
{1, 2, 4, 5, 6}

In [ ]:
# Removing items from the set
# Python provides the discard() method and remove() method which can be used to remove the items from the set. 
# The difference between these function, 
# using discard() function if the item does not exist in the set then the set remain unchanged whereas remove() method will through an error.

In [83]:
my_set = {1, 2, 3, 4, 5}
print(my_set[2])

TypeError: 'set' object is not subscriptable

# union intersection it is important in sets

In [95]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

# Union
union_set = set1 | set2  # or use set1.union(set2)

# Intersection
intersection_set = set1 & set2  # or use set1.intersection(set2)

# Difference
difference_set = set1 - set2  # or use set1.difference(set2)

ab=set1.symmetric_difference(set2)
print('only umacthed from both dataset',ab)

print('without repeated element returning union',union_set)
print('macthed one only as intersection',intersection_set)
print('we are doing the minus from set 1 so it will give the result of set1 and remove the common element from set1',difference_set)

only umacthed from both dataset {1, 2, 4, 5}
without repeated element returning union {1, 2, 3, 4, 5}
macthed one only as intersection {3}
we are doing the minus from set 1 so it will give the result of set1 and remove the common element from set1 {1, 2}

# reversing a set using list then returning as set

In [91]:
original_set = {1, 2, 3, 4, 5}

# Convert the set to a list, reverse the list, and create a new set
reversed_list = list(original_set)[::-1]
reversed_set = set(reversed_list)

print("Original set:", original_set)
print("Reversed set:", reversed_set)

TypeError: 'list' object is not callable

# max in sets

In [98]:
my_set = {10, 5, 8, 15, 3}

max_value = max(my_set)

print(f"The maximum value in the set is: {max_value}")

The maximum value in the set is: 15

In [97]:
class Solution(object):
    def twoSum(self, nums, target):
        c=list[0]+list[1]
        print(c)

# Dictionary

In [6]:
# Creating a dictionary
student = {
    'name': 'John Doe',
    'age': 20,
    'grade': 'A',
    'courses': ['Math', 'English', 'Science']
}

# Accessing values using keys
print("Name:", student['name'])
print("Age:", student['age'])
print("Courses:", student['courses'])

# Modifying values
student['age'] = 21
student['grade'] = 'B'

# Adding a new key-value pair
student['gender'] = 'Male'

# Iterating through keys and values
print("\nIterating through keys and values:")
for key, value in student.items():
    print(f"{key}: {value}")

# Checking if a key exists
if 'gender' in student:
    print("\nThe student's gender is", student['gender'])
else:
    print("\nGender information not available.")

# Removing a key-value pair
del student['grade']

# Displaying the updated dictionary
print("\nUpdated dictionary after removing 'grade':", student)

Name: John Doe
Age: 20
Courses: ['Math', 'English', 'Science']

Iterating through keys and values:
name: John Doe
age: 21
grade: B
courses: ['Math', 'English', 'Science']
gender: Male

The student's gender is Male

Updated dictionary after removing 'grade': {'name': 'John Doe', 'age': 21, 'courses': ['Math', 'English', 'Science'], 'gender': 'Male'}

In [7]:
print("\nIterating through keys and values:")
for key, value in student.items():
    print(f"{key}: {value}")

Iterating through keys and values:
name: John Doe
age: 21
courses: ['Math', 'English', 'Science']
gender: Male

# In this example, items() is used to get a view of the dictionary's key-value pairs, and the for loop iterates over these pairs. During each iteration, the key variable holds the current key, and the value variable holds the corresponding value. This allows you to conveniently access both the keys and values in a single loop, making it easier to process and display information from the dictionary.

# print number of times words got repeated in text ?

In [26]:
# Example: Counting the frequency of words in a text
text = "This is a sample text. Sample text is useful for examples."
word_count = {}
for word in text.split():
    word_count[word] = word_count.get(word, 0) + 1
    
#     word_count.get(word, 0): This retrieves the current count of the word from the word_count dictionary. If the word is not already in the dictionary, it returns 0 as the default value.
# word_count[word] = word_count.get(word, 0) + 1: This increments the count of the current word by 1 and updates the value in the dictionary.
# This line essentially counts the occurrences of each word in the text. If the word is encountered for the first time, it initializes the count to 1; otherwise, it increments the existing count.

# After this loop completes, the word_count dictionary will contain the frequency of each unique word in the given text.
print(word_count)

for key, value in word_count.items():    #focus here
    print(f"{key}: {value}")

{'This': 1, 'is': 2, 'a': 1, 'sample': 1, 'text.': 1, 'Sample': 1, 'text': 1, 'useful': 1, 'for': 1, 'examples.': 1}
This: 1
is: 2
a: 1
sample: 1
text.: 1
Sample: 1
text: 1
useful: 1
for: 1
examples.: 1

In [28]:
# Displaying the word frequencies                #focus here
for word, count in word_count.items():
    print(f"{word}: {count}")

This: 1
is: 2
a: 1
sample: 1
text.: 1
Sample: 1
text: 1
useful: 1
for: 1
examples.: 1

# list to dictionary

In [31]:
# using zip function we can convert list to dictionary

my_list = ['a', 1, 'b', 2, 'c', 3]
my_dict = dict(zip(my_list[::2], my_list[1::2]))

print(my_dict)
# Output: {'a': 1, 'b': 2, 'c': 3}

#using for loop 

my_list = ['a', 1, 'b', 2, 'c', 3]
my_dict = {}
for i in range(0, len(my_list), 2):
    my_dict[my_list[i]] = my_list[i + 1]

print(my_dict)
# Output: {'a': 1, 'b': 2, 'c': 3}

my_list = ['a', 1, 'b', 2, 'c', 3]
my_dict = {my_list[i]: my_list[i + 1] for i in range(0, len(my_list), 2)}

print(my_dict)
# Output: {'a': 1, 'b': 2, 'c': 3}

{'a': 1, 'b': 2, 'c': 3}
{'a': 1, 'b': 2, 'c': 3}
{'a': 1, 'b': 2, 'c': 3}